data/backgroundExons.RData
data/crossCoefs1.RData
data/crossCoefs2.RData
data/crossCoefs3.RData
data/crossCoefsJR1.RData
data/crossCoefsJR2.RData
data/crossCoefsJR3.RData
data/dsdObjects.RData
data/dxdJRObjects.RData
data/dxdObjects.RData
data/fantomDxd.RData
data/geneBackgrounds.RData
data/geneInfo.RData
data/geneTrack.RData
data/pvals1.RData
data/pvals2.RData
data/pvals3.RData
data/resultsDF.RData
data/resultsGeneTable.RData
data/transcriptInfo.RData
data/varExplained.RData
inst/extdata/GRCh38.sqlite
